$white: #fff;
$grey-lighter: rgba(51, 51, 51, .4);

// Buttons
$button-default-background: $white;
$button-default-color: #5b697a;
$button-default-hover-background: $white;
$button-default-hover-color: #5b697a;