@mixin hook-button() {
  transition: all .2s ease-in-out;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px 25px;
  float: none;
  border-radius: 4px;
}

@mixin hook-button-default-hover() {
  transform: scale(1.1);
}

